<a href="https://colab.research.google.com/github/kapserge/AgorizeMaster/blob/master/aide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def ex():
  l= list(range(100))

  for i, n in enumerate(l):
    if i%3 == 0:
      l[i] = 'tree'
    if i%5 == 0:
      l[i] = 'five'
    if i%5 == 0 and i%3 == 0:
      l[i] = 'treefive'
  print(l)
ex()

['treefive', 1, 2, 'tree', 4, 'five', 'tree', 7, 8, 'tree', 'five', 11, 'tree', 13, 14, 'treefive', 16, 17, 'tree', 19, 'five', 'tree', 22, 23, 'tree', 'five', 26, 'tree', 28, 29, 'treefive', 31, 32, 'tree', 34, 'five', 'tree', 37, 38, 'tree', 'five', 41, 'tree', 43, 44, 'treefive', 46, 47, 'tree', 49, 'five', 'tree', 52, 53, 'tree', 'five', 56, 'tree', 58, 59, 'treefive', 61, 62, 'tree', 64, 'five', 'tree', 67, 68, 'tree', 'five', 71, 'tree', 73, 74, 'treefive', 76, 77, 'tree', 79, 'five', 'tree', 82, 83, 'tree', 'five', 86, 'tree', 88, 89, 'treefive', 91, 92, 'tree', 94, 'five', 'tree', 97, 98, 'tree']

In [ ]:
def calsum(l):
    
    # returning sum of list using List comprehension
    r = [x for x in l if not isinstance(x, int)]
    
    return  sum([int(i) for i in r if type(i)== int or i.isdigit()])

  
# Result of sum of list
calsum('54')

9

In [ ]:
from itertools import groupby
def anagrams(a,b): 
  listA = []
  sorted_defaultword = sorted(b[0])
  print (sorted_defaultword)
  for i in range (len(a)):
      #print(a[i])
      sorted_word = sorted(a[i])
      #print (sorted_word)
      if (sorted_word == sorted_defaultword):
          listA.append(a[i])
  
  return listA
anagrams('abba', ['aabb', 'abcd', 'bbaa', 'dada'])

['a', 'a', 'b', 'b']

[]

In [ ]:
def anagrams(word, words):
    return [i for i in words if set(i) == set(word) and len(i) == len(word)]

#anagrams('abba', ['aabb', 'abcd', 'bbaa', 'dada'])
anagrams('racer', ['crazer', 'carer', 'racar', 'caers', 'racer']) 
#anagrams('laser', ['lazing', 'lazy',  'lacer'])

['carer', 'racer']

In [ ]:

a = ['aabb', 'abcd', 'bbaa', 'dada']
b = ['abab']
listA = []
sorted_defaultword = sorted(b[0])
print (sorted_defaultword)
for i in range (len(a)):
    #print(a[i])
    sorted_word = sorted(a[i])
    #print (sorted_word)
    if (sorted_word == sorted_defaultword):
        listA.append(a[i])
print (listA)

['a', 'a', 'b', 'b']
['aabb', 'bbaa']

In [ ]:
def sum_mix(arr):
    sumIntStr = sum(map(int, arr))
    return sumIntStr
sum_mix(['0', 3, '8', 2, '1'])

14

In [ ]:
from numpy import prod
def is_colorful(n):
   return (
       lambda x:len(x)==len(set(x)))([prod([int(d) for d in t]) for t in [str(n)[i:j] for i in range(len(str(n))) for j in range(i+1, len(str(n))+1)]])

is_colorful(643)

True

In [ ]:
from random import seed
from random import randint
def ale():
  for _ in range(5):
    value = randint(1,6)
    if value == 5:
      value ='5 yams'
    elif value == 2:
      value ='2 paire'
    elif value == 3:
      value ='3 brelan'
    print(value)
ale()

6
2 paire
3 brelan
3 brelan
5 yams

In [ ]:
from math import pow
n=412
s=str(n)
V =[]
for i,n in enumerate(s):
  r = int(str(n))
  print(r) 
  V.append(r)
  for g in V:
    V = V + [g**2]
  
#print(sum(map(int, str(s))))

4
1
2

In [ ]:
entre = 20
n1 =0
n2 = 1

for i in range(2,entre):
  sui = n2 + n1
  print(sui, end=",")
  n1 = n2
  n2 = sui

1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597,2584,4181,

In [ ]:
from random import randint
def fr(val):
    if val % 2 == 0:
      val ="paire"
    else: val ="impaire"
    print(val)
fr(9)

impaire

In [ ]:
nbr = 10
fact = 1
for i in range(1, nbr+1):
  fact = fact * i
print (nbr,'! = ',fact)

10 ! =  3628800

In [ ]:
def checkS(str):
  return str.endswith('s')
print(checkS("Thomas"))

paire